* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #333333;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding-left: 83px;
  padding-right: 83px;
}

header {}

.header-layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  margin-top: 20px;
  width: 200px;
  height: 60px;
  background-color: #e2e2e2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  margin-top: 33px;
  width: 820px;
  height: 34px;
  background-color: #e2e2e2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  margin-top: 29px;
  width: 120px;
  height: 42px;
  background-color: #e2e2e2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  background-color: #f1f1f1;
  margin-top: 25px;
  height: 680px;
}

.hero-layout {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.hero-content {
  width: 585px;
  margin-top: 206px;
  height: 267px;
  background-color: #e2e2e2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image {
  width: 585px;
  margin-top: 79px;
  height: 520px;
  background-color: #e2e2e2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-section {
  margin-top: 80px;
}

.section-title {
  width: 600px;
  height: 80px;
  background-color: #e2e2e2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 40px auto;
  font-family: 'Lora', serif;
}

.grid-3-cols {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.grid-3-cols .item {
  width: 380px;
  height: 420px;
  background-color: #e2e2e2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-5-cols {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.grid-5-cols .item {
  width: 216px;
  height: 300px;
  background-color: #e2e2e2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-4-cols {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.grid-4-cols .item {
  width: 277.5px;
  height: 300px;
  background-color: #e2e2e2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-section-2 {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 80px;
  background-color: #f1f1f1;
}

footer {
  margin-top: 80px;
  background-color: #d9d9d9;
}

.footer-content {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .container {
    padding-left: 136px;
    padding-right: 136px;
  }

  .section-title {
    width: 100%;
  }

  .grid-3-cols .item,
  .grid-4-cols .item {
    width: calc((100% - 30px) / 2);
  }

  .grid-5-cols .item {
    width: calc((100% - 60px) / 3);
  }
}

@media (max-width: 576px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo,
  .button {
    width: 80px;
  }

  .menu {
    width: auto;
    flex: 1;
    margin: 0 10px;
    font-size: 16px;
  }

  .hero-layout {
    flex-direction: column-reverse;
  }

  .hero-content,
  .hero-image {
    width: 100%;
    flex: none;
  }

  .hero-content {
    height: 267px;
  }

  .hero-image {
    height: 491px;
  }

  .grid-3-cols .item {
    width: 100%;
    height: 420px;
  }

  .grid-5-cols .item,
  .grid-4-cols .item {
    width: calc((100% - 30px) / 2);
    height: 300px;
  }
}